.header{
	background-color: #4b9884;
	height: 123px;

}
.header-Logo{
	padding-top:11px;
	height: 139px;
}
.header-Social{
/*	padding-top: 15%;*/
}


.mainBody{
	background-color: #ece8ea;
	padding-top: 51px;
}

.applyButton{
	background-color: #e12983;
	width: 100%;
	padding-top: 10px;
	margin-bottom: 30px; 
	padding-bottom: 10px;
	color:white;
}

.devPics{
	width: 100%;
	padding-bottom: 30px;

}

.footer{
	background-color: #484f68;
	color: white;
	padding-top: 20px;
}

h1.timeline-Header-title {
	display: none !important;

}

.email{
	
}

.sponsors{

}